.result-list{
  &-view{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  &__item{
    flex: auto;
    max-width: calc(25% - 56px);
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-avatar{
      width: 50%;
      border-radius: 50%;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
      }
    }

    &-name{
      font-size: 22px;
      color: #223344;
      font-weight: 700;
    }

    &-desc{
      color: #223344;
      font-weight: 500;
      font-size: 18px;
    }

    &-link{
      justify-self: flex-end;
      text-decoration: none;
      background-color: #223344;
      display: inline-block;
      font-weight: 700;
      border-radius: 20px;
      padding: 10px 20px;
      &, &:hover, &:active{
        color: white;
      }
    }

  }
}